.Header{
    background-color:burlywood;
    margin-top: 20px;
    margin-right: 50px;
   margin-left: 50px;

}
.text{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.text2{
    text-align: center;

}
.Header2{
    text-align: center;
    background-color: white;
    margin-left: 90px;
    margin-right: 100px;

}
.Header3{
    margin-left: 200px;
}
.text3{
    margin-left: 210px;
    margin-right: 210px;
}
.Header4{
    margin-left: 210px;
    margin-right: 210px;
}