.Header{
    background-color:rgb(0, 255, 128); 
    height: 200px;
    display: flex;
   justify-content: center;
   align-items: center;
}
.red{
    background-color:red; 
    width:30%;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;

}
.pink{
    background-color:pink; 
    width:70%;
    height: 150px;
    margin-right: 20px;
    
}
.Header1{
    background-color:orangered; 
    height: 150px;
    margin-top: 20px;
}
.Header2{
    background-color:rgba(204, 0, 255, 0); 
    height: 200px;
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.blue1{
    background-color: blue;
    width: 30%;
    height: 150px;  
}
.blue2{
    background-color: blue;
    width: 30%;
    height: 150px; 
}
.blue3{
    background-color: blue;
    width: 30%;
    height: 150px;  
}
.Header3{
    background-color:oldlace; 
    height: 200px;
    display: flex;
   justify-content: center;
   align-items: center;
}
.yellow1{
    background-color:yellow;
    height: 150px;
    width : 50%;
    margin-left: 20px;
    margin-right:20px;
}
.yellow2{
    background-color:yellow;
    height: 150px;
    width:50%;
    margin-right:20px;
}